:root{
    --oscuro: #212121;
    --primario: #ffc108;
    --secundario: #0097a7;
    --gris: #757575;
}

html {
    box-sizing: border-box;
    min-height: 100%;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: "krub", site-serif;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    min-height: 100%;
    font-size: 1.6rem;
}

h1, h2, h3, h4{
    margin: 0;
}

h2, h3{
    text-align: center;
}

h4{
    margin-left: 1rem;
}

h3{
    color: var(--secundario);
    font-weight: 400;
    font-size: 3rem;
}

h4{
    color: var(--secundario);
    font-weight: 400;
    font-size: 2.5rem;
}

p{
    font-size: 1.6rem;
    line-height: 2;
}

.site-header{
    background-color: white;
}

.site-header nav{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}


@media (min-width: 768px) {
    .site-header nav{
        flex-direction: row;
        justify-content: space-between;
    }
}

.site-header nav a{
    text-decoration: none;
    color: var(--oscuro);
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.site-header nav a:last-of-type{
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .site-header nav a{
        margin-bottom: 0;
    }
}

.hero{
    height: 45rem;
    background-image: url(../img/hero.jpg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100% 83rem;
    background-position: 0 47rem;
}
.hero::after {
    content: '';
    background-color: rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.contenedor-hero{
    color: white;
    position: relative;
    z-index: 1;
    text-align: center;
}

.contenedor-hero i{
    font-size: 5rem;
    color: var(--primario);
}

.boton{
    background-color: var(--secundario);
    padding: 1rem 5rem;
    color:white;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.2rem;
    border-radius: .5rem;
    border: none;
}

.boton:hover{
    cursor: pointer;
}

.contenedor{
    max-width: 1200px;
    margin: 3rem auto;
    background-color: white;
    padding: 3rem;
    border-radius: 2rem;
    -webkit-box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.75);
}

.contenedor-proyectos{
    margin-top: 3rem;
}
.proyecto{
    background-color: #f9f7f9fa;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
    transition: all .3s ease-in-out;
    position: relative;
    padding-bottom: 3.3rem;
}

@media (min-width: 768px) {
    .contenedor-proyectos{
        display: grid;
        grid-template-columns: repeat(3, calc(33% - 1rem));
        grid-column-gap: 1.5rem;
        grid-row-gap: 2rem;
        
    }
    .centrado{
        grid-column: 2/3;
    }

    .proyecto:hover{
        -webkit-box-shadow: 0px 5px 5px 3px rgba(0,0,0,0.8);
        -moz-box-shadow: 0px 5px 5px 3px rgba(0,0,0,0.8);
        box-shadow: 0px 5px 5px 3px rgba(0,0,0,0.8);
        transform: scale(1.07);
    }
}

.previews{
    width: 100%;
    margin: 0 auto 2rem auto;

}

.previews img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.tecnologias{
    list-style: none;
    margin: 1.3rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0 2rem 0;
    justify-content: space-around;
}

.tecnologias li{
    margin: 1.3rem;
    font-size: 2.2rem;
    text-align: center;
}

.fa-html5{
    color: #e44d26;
    font-size: 2.6rem;
}

.fa-css3-alt{
    color: #264de4 ;
    font-size: 2.6rem;
}

.fa-js-square{
    color: var(--primario) ;
    font-size: 2.6rem;
}

.fa-php{
    color: #8993be;
    font-size: 2.6rem;
}

.fa-database{
    color: #00758f;
    font-size: 2.6rem;
}

.jquery img{
    width: 2.6rem;
}

footer.proyecto-footer{
    display: flex;
    justify-content: space-around;
    padding-bottom: 1.5rem;
    margin: auto 0 0 0;
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
}



footer.proyecto-footer a{
    font-size: 1.8rem;
    padding: .6rem 2rem;
}

.codigo{
    background-color: var(--oscuro);
}

form{
    background-color: var(--gris);
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 3rem;
}
form legend{
    margin: 3rem auto;
    text-align: center;
    font-size: 2rem;
    color: var(--primario);
}

@media (min-width: 768px) {
    form{
        max-width: 800px;
        margin: 3rem auto;
    }
}

@media (min-width: 768px) {
    .contenedor-campos{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .campo{
        flex: 0 0 calc(50% - 1rem);
    }
}

.campo{
    display: flex;
    margin-bottom: 2rem;
    color: white;
}

.campo label{
    flex: 0 0 90px;
}
.campo input{
    flex: 1;
    height: 3rem;
}
.campo textarea{
    flex: 1;
    height: 6rem;
}
.w-100{
    flex: 0 0 100%;
}

.enviar{
    display: flex;
    justify-content: flex-end;
}